body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(
    to bottom,
    #00c6fb,
    #00f2fe,
    #009ceace,
    #2a5298,
    #2193b0,
    #6dd5ed
  );
  height: 100vh;
}
h1 {
  text-align: center;
}

li {
  list-style: none;
}
input {
  padding: 5px 10px;
  border: double 3px;
  margin-right: 20px;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 200px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 0 40px rgba(0, 132, 255, 0.8), 0 0 60px rgba(0, 150, 255, 0.6),
    0 0 80px rgba(0, 100, 255, 0.4);
  animation: fireShadow 2s infinite alternate ease-in-out;
  border: 2px solid rgba(255, 69, 0, 0.4);
}

@keyframes fireShadow {
  0% {
    box-shadow: 0 0 35px rgba(0, 179, 255, 0.959),
      0 0 55px rgba(0, 150, 255, 0.5), 0 0 85px rgba(0, 100, 255, 0.3);
  }
  50% {
    box-shadow: 0 0 45px rgba(0, 140, 255, 0.9), 0 0 65px rgba(0, 170, 255, 0.7),
      0 0 85px rgba(0, 120, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 35px rgba(0, 17, 255, 0.7), 0 0 70px rgba(0, 150, 255, 0.5),
      0 0 90px rgba(0, 100, 255, 0.3);
  }
}

button {
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  border: none;
  background-color: rgb(147, 46, 118);
  border-radius: 8px;
  cursor: pointer;
  margin: 0 20px 0 0;
}

button:hover {
  background: rgba(60, 255, 0, 0.6);
  box-shadow: 0 0 25px rgba(255, 140, 0, 1);
  color: black;
}
p {
  font-size: 17px;
  font-weight: bold;
}
